@import "../../node_modules/plumber-sass/plumber";
@import "mixins";

$font-color: #fefefe;
$blockquote-font: 'Roboto Mono', monospace;
$baseline: 0.111;

$accent-color: #3498db;
$second-color: #903e3e;
$bg-color: hsl(40, 72%, 6%);
$border-color: desaturate(lighten($bg-color, 8%), 70%);
$themes-class: ( "ignorance", "ideas", "justice", "violence", "nature", "epistemology", "will", "power",
  "be", "liberty", "physics", "isolation", "brain", "cosmology", "religion", "intelligence");
$hue-increment: 360 / (length($themes-class) + 1);
$gold: 1.61803398875;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #fff;
  color: $font-color;
  font-family: sans-serif;
  overflow: hidden;
  transition: background 2s cubic-bezier(0, 0, 1, -0.1);

  background: $bg-color;
  background: radial-gradient( circle at 103vw 2vh,
                saturate($accent-color, 20%) 0%,
                $accent-color 4%,
                darken( $accent-color, 10%) 7%,
                darken( desaturate( $accent-color, 10%), 30% ) 15%,
                darken( desaturate( $accent-color, 30% ), 45% ) 30%,
                $bg-color 95%
              );

  box-shadow: inset $bg-color 0 0 4vw;

  @for $i from 1 to (length($themes-class) + 1) {

    $deg: $hue-increment * $i;
    $class: unquote( nth($themes-class, $i));
    $color: adjust-hue( $accent-color, $deg);

    &.#{$class} {

      background: radial-gradient( circle at 103vw 2vh,
                    saturate($color, 20%) 0%,
                    $color 4%,
                    darken( $color, 10%) 7%,
                    darken( desaturate( $color, 10%), 30% ) 15%,
                    darken( desaturate( $accent-color, 30% ), 45% ) 30%,
                    $bg-color 95%
                  );
    }
  }
}


@for $i from 1 to length($themes-class) {

  $deg: $hue-increment * $i;
  $class: unquote( nth($themes-class, $i));
  $color: adjust-hue( $accent-color, $deg);

  #quote_table tbody tr td.quote date.#{$class} {
    color: $color;
  }
  body.#{$class} #timer-bar #current-theme .theme {
    text-shadow: 1px 1px 0 darken($color, 30%);
  }
}

.viewport {
  position: relative;
  display: block;
  height: 100%;
  max-height: 100%;
  margin: 0;
  background-image: url( ../img/broken-noise.png );
  background-repeat: repeat;

  @include breakpoint( mobileonly ) {
    width: 90%;
    padding: 0 10% 0 0;
  }

  @include breakpoint( phablet ) {
    width: 80%;
    padding: 0 20% 0 0;
  }

  @include breakpoint( tablet ) {
    width: 70%;
    padding: 0 30% 0 0;
  }

  @include breakpoint( laptop ) {
    width: 60%;
    padding: 0 40% 0 0;
  }
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 30px;
  margin-top: -15px;
  margin-left: -60px;
  fill: black;
  z-index: 1;
}

#loader span#progess-bar {
  display: block;
  position: relative;
  width: 0;
  height: 100%;
  background-color: #333;
  clip-path: url(#svgPath);
}

#loader.active span#progess-bar {
  animation-name: grow;
  animation-duration: .75s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#timer-bar {
  position: absolute;

  @include breakpoint( mobileonly ) {
    width: 9.8%;
  }

  @include breakpoint( tablet ) {
    width: 29.8%;
  }

  @include breakpoint( laptop ) {
    width: 39.8%;
  }

  top: 0;
  bottom: 0;
  right: 0;


  #quotes-count,
  .progress-circle {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
  #current-theme {

    display: block;
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint( mobileonly ) {
      height: 35px;
      font-size: 1em;
      line-height: 1em;
    }

    @include breakpoint( tablet ) {
      height: 60px;
      font-size: 1.5em;
      line-height: 1.5em;
    }

    @include breakpoint( laptop ) {
      height: 90px;
      font-size: 2em;
      line-height: 3em;
    }

    width: 70vh;
    letter-spacing: 3px;

    float: left;

    text-transform: uppercase;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
    animation: disappear 1s linear;
    animation-iteration-count: 1;

    .theme {
      position: absolute;
      width: 100%;
    }
    &.glitched{

      .theme:nth-child(1) {
        animation: disappear .25s linear, noise_1 .2s linear;
  			animation-iteration-count: 3;
      }
      .theme:nth-child(2) {
        top: 1px;
        left: 1px;
        color: transparentize(blue, .2);
        z-index: -1;
        animation: animate_glitch_2 .25s linear, noise_3 .5s linear;
  			animation-iteration-count: 3;
      }
      .theme:nth-child(3) {
        top: -1px;
        left: -1px;
        color: transparentize(red, .4);
        z-index: -1;
        animation: animate_glitch_1 .25s linear, noise_3 .5s linear;
  			animation-iteration-count: 3;
      }
    }

  }
  #quotes-count {
    display: flex;
    justify-content: flex-end;

    @include breakpoint( mobileonly ) {
      width: 30px;
      height: 30px;
      margin: 1px;
      line-height: 30px;
      font-size: .5em;
    }
    @include breakpoint( phablet ) {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    @include breakpoint( tablet ) {
      width: 40px;
      height: 40px;
      margin: 2px;
      line-height: 40px;
      font-size: .8em;
    }
    @include breakpoint( laptop ) {
      width: 60px;
      height: 60px;
      margin: 4px;
      line-height: 60px;
      font-size: 1em;
    }

    z-index: 5;


    font-family: sans-serif;
    text-align: center;
    color: lighten( $border-color, 10%);
    border-radius: 50%;
    border: 1px solid transparentize(invert($bg-color), .95);

    span.index,
    span.total {
      position: relative;
      width: 50%;
      line-height: inherit;
      height: inherit;
      text-align: inherit;
      color: darken( $accent-color, 20%);
    }


  }
  svg.progress-circle {
    display: block;

    @include breakpoint( mobileonly ) {
      width: 35px;
      height: 35px;
      border-radius: 35px;
    }
    @include breakpoint( phablet ) {
      width: 40px;
      height: 40px;
      border-radius: 40px;
    }
    @include breakpoint( tablet ) {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    @include breakpoint( laptop ) {
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }

    margin: -1px;
    fill: rgba(0,0,0,0);
    stroke: $accent-color;
    stroke-width: 4px;
    stroke-dasharray: 204.24;
    stroke-dashoffset: 204.24;
    z-index: 1;

    border: 1px solid transparentize(invert($bg-color), .95);
  }
}
@keyframes disappear {
	0% {	opacity: 0;	}
	2% { opacity: 1; }
}
@keyframes animate_glitch_1 {
  0% { top: 1px; left: 1px; }
 	25% { top: 3px; left: 2px;	 }
	50% { top: -1px; left: -4px;	}
 	75% { top: 2px; left: 5px;	}
	100% {	top: 1px; left: -2px;	}
}

@keyframes animate_glitch_2 {
  0% { top: -1px; left: -1px;	}
	25% { top: -3px; left: -2px;	}
	50% { top: 1px; left: 4px; }
  100% { top: -1px; left: -1px; }
}
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise_1 {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}
@keyframes noise_2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise_3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

#auto-scroll {
  position: absolute;
  width: inherit;
  bottom: 0;
  border-left: 1px solid transparentize(invert($bg-color), .95);
  z-index: 10;

  @include breakpoint( mobileonly ) {
    width: 84%;
    margin-left: 8px;
  }

  @include breakpoint( tablet ) {
    width: 70%;
  }

  @include breakpoint( laptop ) {
    width: 60%;
  }

}
#auto-scroll table#quote_table {
  display: table;
  border: 0;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 32px;
  font-family: $blockquote-font;
  letter-spacing: 1px;
  font-weight: 100;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  white-space: pre-line;

  tbody tr { display: table; }
  tbody tr td { display: table-cell; vertical-align: top; }
  tbody tr td.quote {
    position: relative;
    date {

    }
    author {
      color: #ccc;
      margin-left: .5em;
    }


  }
  .line_count {
    display: block;

    @include breakpoint( laptop ) {
      min-width: 80px;
    }

    @include breakpoint( mobileonly ) {
      display: none;
    }

    @include breakpoint( tablet ) {
      min-width: 40px;
    }

    color: transparentize( $accent-color, .7);
    margin-right: 1em;
    padding-right: 1em;
    text-align: right;
    border-right: 1px solid transparentize( $accent-color, .7);
  }
}
