@import "../../node_modules/plumber-sass/plumber";
@import "mixins";

$font-color: #fefefe;
$blockquote-font: 'Roboto Mono', monospace;
$baseline: 0.111;

$accent-color: #3498db;
$bg-color: hsl(40, 72%, 6%);
$border-color: desaturate(lighten($bg-color, 8%), 70%);


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #fff;
  color: $font-color;
  font-family: sans-serif;
}

.viewport {
  position: relative;
  display: block;
  height: 100%;
  max-height: 100%;
  margin: 0;
  @include linearGradient( $bg-color, desaturate(lighten($bg-color, 3%), 45%));

  @include breakpoint( laptop ) {
    width: 80%;
    padding: 0 16% 0 4%;
  }

  @include breakpoint( tablet ) {
    width: 90%;
    padding: 0 7% 0 3%;
  }

  @include breakpoint( mobileonly ) {
    width: 95%;
    padding: 0 4% 0 1%;
  }
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 30px;
  margin-top: -15px;
  margin-left: -60px;
  fill: black;
  z-index: 1;
}

#loader span#progess-bar {
  display: block;
  position: relative;
  width: 0;
  height: 100%;
  background-color: #333;
  clip-path: url(#svgPath);
}

#loader.active span#progess-bar {
  animation-name: grow;
  animation-duration: .75s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#quotes-count {
  position:absolute;
  width: 40px;
  height: 2em;
  bottom: 8px;
  right: 8px;
  line-height: 2em;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  color: $border-color;
  border: 1px solid $border-color;

  span.index,
  span.total {
    padding: 0 4px;
    color: transparentize( $accent-color, .6);
  }
}
#auto-scroll {
  position: absolute;
  width: inherit;
  bottom: 0;
  z-index: 10;
}

#auto-scroll blockquote {
  display: block;
  position: relative;
  padding: .6em 1em 0;
  font-family: $blockquote-font;
  letter-spacing: 1px;
  font-weight: 100;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  overflow: hidden;
  @include breakpoint( mobile ) {
    @include plumber(
      $grid-height: 1rem,
      $baseline: $baseline,
      $font-size: .9,
      $line-height: 1,
      $leading-top: 3,
      $leading-bottom: 2
    );
  }
  @include breakpoint( tablet ) {
    @include plumber(
      $grid-height: 1rem,
      $baseline: $baseline,
      $font-size: 1,
      $line-height: 2,
      $leading-top: 3,
      $leading-bottom: 2
    );
  }
  @include breakpoint( laptop ) {
    @include plumber(
      $grid-height: 1rem,
      $baseline: $baseline,
      $font-size: 1.5,
      $line-height: 3,
      $leading-top: 3,
      $leading-bottom: 2
    );

    &.large {
      max-width: 100%;
    }
    &.regular {
      max-width: 90%;
    }
    &.small {
      max-width: 80%;
    }
  }

  footer {
    @include plumber(
  		$grid-height: 1rem,
  		$baseline: 0.112061,
  		$font-size: 0.8,
  		$line-height: 1,
  		$leading-top: 1,
  		$leading-bottom: 1
  	);
    padding-top: 1em;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
  }
}
