@import "../../node_modules/plumber-sass/plumber";
@import "mixins";

$font-color: #fefefe;
$blockquote-font: 'Roboto Mono', monospace;
$baseline: 0.111;

$accent-color: #3498db;
$second-color: #903e3e;
$bg-color: hsl(40, 72%, 6%);
$border-color: desaturate(lighten($bg-color, 8%), 70%);

$gold: 1.61803398875;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #fff;
  color: $font-color;
  font-family: sans-serif;

  background: $bg-color;
  background-image: url( ../img/broken-noise.png ),
                    radial-gradient( ellipse farthest-corner at 103vw 2vh,
                    $second-color 0%,
                    darken( desaturate( $accent-color, 30% ), 45% ) 7%,
                    darken( $second-color, 10%) 14%,
                    darken( desaturate( $second-color, 10%), 30% ) 25%,
                    darken( desaturate( $accent-color, 30% ), 45% ) 50%,
                    $bg-color 95%);
  background-repeat: repeat;
  box-shadow: inset $bg-color 0 0 4vw;
}

.viewport {
  position: relative;
  display: block;
  height: 100%;
  max-height: 100%;
  margin: 0;


  @include breakpoint( laptop ) {
    width: 60%;
    padding: 0 40% 0 0;
  }

  @include breakpoint( tablet ) {
    width: 70%;
    padding: 0 30% 0 0;
  }

  @include breakpoint( mobileonly ) {
    width: 90%;
    padding: 0 10% 0 0;
  }
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 30px;
  margin-top: -15px;
  margin-left: -60px;
  fill: black;
  z-index: 1;
}

#loader span#progess-bar {
  display: block;
  position: relative;
  width: 0;
  height: 100%;
  background-color: #333;
  clip-path: url(#svgPath);
}

#loader.active span#progess-bar {
  animation-name: grow;
  animation-duration: .75s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#timer-bar {
  position: absolute;

  @include breakpoint( laptop ) {
    width: 39.8%;
  }

  @include breakpoint( tablet ) {
    width: 29.8%;
  }

  @include breakpoint( mobileonly ) {
    width: 9.8%;
  }
  top: 0;
  bottom: 0;
  right: 0;


  #quotes-count,
  .progress-circle {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
  .theme {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint( laptop ) {
      height: 90px;
      font-size: 70px;
      line-height: 70px;
    }

    @include breakpoint( tablet ) {
      height: 60px;
      font-size: 1.5em;
      line-height: 1.5em;
    }

    @include breakpoint( mobileonly ) {
      height: 35px;
      font-size: 1em;
      line-height: 1em;
    }


    width: 70vh;
    letter-spacing: 3px;

    float: left;

    text-transform: uppercase;
    text-align: right;
    transform: rotate(-90deg);
	  transform-origin: right bottom 0;
  }
  #quotes-count {
    display: flex;
    justify-content: flex-end;
    @include breakpoint( mobileonly ) {
      width: 30px;
      height: 30px;
      margin: 1px;
      line-height: 30px;
      font-size: .5em;
    }

    @include breakpoint( tablet ) {
      width: 40px;
      height: 40px;
      margin: 2px;
      line-height: 40px;
      font-size: .8em;
    }
    @include breakpoint( desktop ) {
      width: 60px;
      height: 60px;
      margin: 4px;
      line-height: 60px;
      font-size: 1em;
    }

    z-index: 5;


    font-family: sans-serif;
    text-align: center;
    color: lighten( $border-color, 10%);
    border-radius: 50%;
    border: 1px solid transparentize(invert($bg-color), .95);

    span.index,
    span.total {
      position: relative;
      width: 50%;
      line-height: inherit;
      height: inherit;
      text-align: inherit;
      color: darken( $accent-color, 20%);
    }


  }
  svg.progress-circle {
    display: block;
    @include breakpoint( mobileonly ) {
      width: 35px;
      height: 35px;
      border-radius: 35px;
    }

    @include breakpoint( tablet ) {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    @include breakpoint( laptop ) {
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }

    margin: -1px;
    fill: rgba(0,0,0,0);
    stroke: $accent-color;
    stroke-width: 4px;
    stroke-dasharray: 204.24;
    stroke-dashoffset: 204.24;
    z-index: 1;

    border: 1px solid transparentize(invert($bg-color), .95);

  }
}


#auto-scroll {
  position: absolute;
  width: inherit;
  bottom: 0;
  border-left: 1px solid transparentize(invert($bg-color), .95);
  z-index: 10;
  @include breakpoint( laptop ) {
    width: 60%;
  }

  @include breakpoint( tablet ) {
    width: 70%;
  }

  @include breakpoint( mobileonly ) {
    width: 84%;
    margin-left: 8px;
  }

}
#auto-scroll table#quote_table {
  display: table;
  border: 0;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 32px;
  font-family: $blockquote-font;
  letter-spacing: 1px;
  font-weight: 100;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  white-space: pre-line;


  tbody tr { display: table; }
  tbody tr td { display: table-cell; vertical-align: top; }
  tbody tr td.quote {
    position: relative;

    date {
      color: desaturate(complement($accent-color), 30%);
    }
    author {
      margin-left: .5em;
      color: $second-color;
    }


  }
  .line_count {
    display: block;
    @include breakpoint( laptop ) {
      min-width: 80px;
    }

    @include breakpoint( tablet ) {
      min-width: 40px;
    }

    @include breakpoint( mobileonly ) {
      display: none;
    }


    color: transparentize( $accent-color, .7);
    margin-right: 1em;
    padding-right: 1em;
    text-align: right;
    border-right: 1px solid transparentize( $accent-color, .7);
  }
}
